{% extends "layouts/base.html" %}

{% block title %} Verifica tu N.I.C{% endblock title %}

{% block content %}
<div class="container d-flex justify-content-left align-items-center vh-100">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 400px;">
        <h2 class="card-title text-center mb-4">Portal AutoGestiòn</h2>

        <!-- Pestañas -->
        <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'consultar' %}active{% endif %}" href="{% url 'consultar' %}">Consulta N.I.C</a>
            </li>
        </ul>

        <!-- Mostrar errores -->
        {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endif %}

        <!-- Formulario de Consulta -->
        <form method="POST" action="{% url 'consultar' %}">
            {% csrf_token %}
            
            <!-- Selección de Empresa -->
            <div class="mb-3">
                <label for="empresa_id_rif" class="form-label">Hidrológica:</label>
                <select class="form-select" id="empresa_id_rif" name="empresa_id" required>
                    <option disabled selected>Seleccione una EHR</option>
                    {% for empresa in empresas %}
                        <option value="{{ empresa.id }}">{{ empresa.nombre }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Radio Buttons para Tipo de Consulta -->
            <div class="mb-3">
                <label class="form-label">Tipo de Consulta:</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tipo_consulta" id="tipo_cedula" value="cedula" checked>
                    <label class="form-check-label" for="tipo_cedula">
                        Cédula/RIF
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tipo_consulta" id="tipo_nic" value="nic">
                    <label class="form-check-label" for="tipo_nic">
                        NIC
                    </label>
                </div>
            </div>

            <!-- Campo de RIF/CI o NIC -->
            <div class="mb-3">
                <label for="documento_rif" class="form-label">R.I.F/C.I o N.I.C:</label>
                <input type="text" class="form-control" id="documento_rif"  max_
                       name="documento" required placeholder="Ingrese R.I.F/C.I o N.I.C">
            </div>

            <!-- reCAPTCHA -->
            <div class="mb-3">
                <div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_PUBLIC_KEY }}"></div>
            </div>

            <!-- Botón de Consulta -->
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-magnifying-glass"></i> Consultar
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Script de reCAPTCHA -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% block scripts %}
{% block scripts %}
{% endblock scripts %}
</body>